<% include partials/header %>
<% include partials/navigation%>




<div class="col-sm-9 col-xs-11" id="main">
  <a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a>
  <br>

  <div class="jumbotron jumbotron-fluid text-center">
    <h1>Generate Report</h1>  
    <form action="/lecturer/reports" method="POST">
      <center>

        <div class="m-5 pb-5">

          <table class="table table-light">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Admission number</th>
                <th scope="col">Lecturer </th>
                <th scope="col">Date </th>
                <th scope="col">Student </th>
                <th></th>
              </tr>
            </thead>
            <% data.forEach(function(unit){ %>
            <tbody>
                <td> 
              <% for (let i = 0; i < data.length; i++) { %>
                <%= [i] %>
              <% } %></td>
              <td> <%=unit.unit%></td>
              <td> <%=unit.lecturer%></td>
              <td> <%= unit.startTime%></td>
              <td> <%=unit.student.length%></td>
              <td>
                <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-eye"></i> View </button>
              </td>
            </tbody>
            <%}) %>
          </table>
        </div>
  </div>


  </center>
  </form>
</div>


<%include partials/footer %>